*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(97, 219, 97), yellow);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(235, 232, 232);
}

.calculator-grid>button:hover {
    background-color: rgb(243, 240, 240);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgb(17, 15, 15);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 5px;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}

.output .first-operand {
    color: rgb(202, 201, 199);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}